/* About Section */
#about {
  background-color: var(--color-secondary);
}

#about .primary-heading {
  padding-top: 0;
}

/* About Detail and Quick Section */
.about-detail,
.about-quick {
  margin-top: 30px;
}

/* About Detail Image */
.about-detail__img,
.about-quick__img {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.about-detail__img {
  animation: fadeInLeft 2.5s linear;
  background-image: url(../images/about-me/0.jpg); /* Fall back JPG */
  background-position: right;
}

.about-quick__img {
  animation: fadeInRight 2.5s linear;
  background-image: url(../images/about-me/1.JPG);
  background-position: left;
  position: relative;
}
@supports (background-image: url(../images/about-me/0.webp)) {
  .about-detail__img {
    background-image: url(../images/about-me/0.webp);
  }

  .about-quick__img {
    background-image: url(../images/about-me/1.webp);
  }
}

/* Decorative Dots for About Quick Image */
.about-quick__img::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  width: 150px;
  height: 150px;
  opacity: 0.8;
}

/* About Detail and Quick Content */
.about-detail__content,
.about-quick__content {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-primary);
}
