.footer {
  font-size: 2rem;
  line-height: normal;
  padding: 75px 0;
  position: relative;
  color: var(--color-secondary);
}

.footer a:visited,
.footer a {
  text-decoration: none;
  color: inherit;
}

.footer__copyright,
.footer__contact,
.footer__quick-link {
  padding: 15px 0;
}
.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__copyright-img {
  width: 100%;
  margin: 15px 0;
  filter: invert(86%) sepia(21%) saturate(328%) hue-rotate(347deg)
    brightness(90%) contrast(89%);
}
.footer__copyright-text {
  font-size: 1.4rem;
  margin: 5px 0;
  filter: brightness(80%);
}

.footer__contact {
  display: flex;
}

.footer__contact {
  display: flex;
  flex-wrap: wrap;
}
.footer__social-media,
.footer__info {
  width: 100%;
}
.footer__social-media a {
  font-size: 2.4rem;
}
.footer__social-media a + a {
  padding-left: 12px;
}
.footer__social-media {
  padding-bottom: 8px;
}

.footer__info div {
  font-size: 1.6rem;
  width: 100%;
  padding: 4px 0;
}

.footer__quick-link {
  padding: 10px 0;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
}
.footer__quick-link a {
  padding: 6px 0 6px 10px;
}

.footer__scroll-to-home {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  bottom: 80px;
  right: 40px;
  background-color: #33333367;
  /* căn giữa */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.footer__scroll-to-home:hover {
  opacity: 5;
}
.footer__scroll-to-home i {
  font-size: 30px;
  color: #fff;
}
