.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}
.header.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.86);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.nav {
  display: block;
  width: 100%;
  height: var(--header-height);
}
.nav__list {
  display: flex;
  justify-content: end;
  /* align-items: center; */
  list-style-type: none;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-left: 0;
  position: relative;
}

.nav-list__item,
.nav-list__item-logo {
  flex: 0 0 6%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.nav-list__item-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-list__item-logo img,
.local-info {
  height: 50px;
}
.nav-list__item + .nav-list__item {
  margin-left: 10px;
}

.nav-list__item a {
  margin: auto;
  line-height: var(--header-height);
  color: #505050;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

/* .nav-list__item a::after {
  position: relative;
  content: "";
  display: block;
  width: 90%;
  height: 4px;
  background-color: var(--first-color);
} */

.nav-list__item-local {
  flex: 0 0 15%;
  height: 100%;
  display: flex;
  align-items: center;
}
.local-info {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: end;
}

.local-info__location {
  color: #666;
  font-size: 1.3rem; /* Kích thước nhỏ hơn để hiển thị địa điểm */
}

.local-info__time,
.local-info__weather {
  font-weight: bold;
  color: #484848;
  letter-spacing: 0.5px;
}
.local-info__time {
  font-size: 1.5rem; /* Kích thước lớn hơn để hiển thị thời gian */
}
.local-info__weather {
  font-size: 1.3rem;
}
.local-info__weather {
  display: flex;
}
.local-info__weather-icon {
  margin-right: 10px;
}
.local-info__weather-description {
  color: #ababab;
}
