/* Section Project */
#project {
  background-color: var(--color-secondary);
}

#project p {
  display: inline;
}

.project__card + .project__card {
  padding: 32px 0;
}

/* Phần chi tiết project */
.project-card__detail {
  border-radius: 25px 0px 0px 25px;
  background-color: var(--color-background-light-3);
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.project-card__img-slider {
  border-radius: 0px 25px 25px 0px;
  height: 100%;
}

.project-card__detail > div {
  flex-basis: 100%;
}

.project__card-title {
  font-size: 4rem;
  text-align: center;
  line-height: normal;
  padding: 40px 0 35px 0;
  text-transform: uppercase;
}

.project-card__name-detail {
  font-size: 2.4rem;
  line-height: normal;
  padding-top: 20px;
}

.project-card__detail > div + div {
  margin-top: 15px;
}

/* Kích thước văn bản trong các phần mô tả */
.project__card-description,
.project__card-techlonogy,
.project__card-link-container p {
  font-size: 1.5rem;
  padding: 0 8px;
}

/* =================================== */
/* Tag công nghệ trong project */
.tech-tag-container {
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
}

.tech-tag {
  height: 2rem;
  display: flex;
  border-radius: 3px;
  align-items: center;
  font-size: 1rem;
  margin: 5px;
}

.tech-tag div {
  background-color: #eaeaea;
}

.tag__icon {
  width: 20px;
  height: 1.4rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 0 0 4px;
  padding: 1rem 0;
}

.tag__name {
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 0.086rem;
  text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 0.3rem 0.4rem;
}

/* Các thẻ công nghệ HTML, CSS, JavaScript */
.tag--html .tag__icon {
  background-image: url(../images/html-css-svgrepo.svg);
}

.tech-tag.tag--html .tag__name {
  color: #e04b24;
}

.tag--css .tag__icon {
  background-image: url(../images/css3-logo-svgrepo-com.svg);
}

.tech-tag.tag--css .tag__name {
  color: #0d72b8;
}

.tag--javascript .tag__icon {
  background-image: url(../images/js-svgrepo-com.svg);
}

.tech-tag.tag--javascript .tag__name {
  color: #3d3e3e;
}

/* Liên kết GitHub và Deploy */
.project__card-github,
.project__card-link {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  margin-left: 5px;
}

#project a:visited {
  color: inherit;
}

.project__card-description {
  line-height: 1.3;
}

/* =================================== */
/* Slider cho hình ảnh trong project */
.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
  max-height: 600px;
  background-color: #f8f4ef;
  border-radius: 0px 15px 15px 0px;
}

.slider,
.slide {
  height: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s;
}
.slide picture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 90%;
  height: 80%;
  object-fit: contain;
}

.dots {
  text-align: center;
  position: relative;
  margin-top: -30px;
}

.dot {
  opacity: 86%;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
  opacity: 100%;
}

.dot.active {
  background-color: #717171;
}
