@import url(variables.css);
@import url(common-clasese.css);
@import url(animations.css);
@import url(grid.css);
@import url(header.css);
@import url(home.css);
@import url(about.css);
@import url(skills.css);
@import url(project.css);
@import url(footer.css);
@import url(sidebar.css);
@import url(responsive.css);

* {
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* default line height  */
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.primary-heading,
.secondary-heading {
  line-height: 1.1;
  color: var(--color-highlight);
  font-weight: 600;
}

.primary-heading {
  font-size: 3rem;
  padding: 20px 0;
}
.secondary-heading {
  font-size: 2rem;
  padding: 10px 0;
}
.quote-content {
  border-left: #333 4px solid;
  padding-left: 20px;
}
#skill,
#project {
  scroll-margin-top: var(--header-height);
}
#about {
  scroll-margin-top: 50vh;
}
.home,
.about,
.skill,
.project {
  padding: 50px 0;
}

#home {
  background-color: var(--first-background-color);
}

#about {
  background-color: var(--color-background-light);
}
#skill {
  background-color: var(--color-background-light-2);
}
#project {
  background-color: var(--color-background-light);
}

#footer {
  background-color: var(--color-secondary);
}
