@import url(animations.css);
@import url(grid.css);
@import url(responsive.css);
@import url(header.css);
@import url(home.css);
@import url(about.css);
@import url(skills.css);
@import url(project.css);
@import url(footer.css);

* {
  box-sizing: inherit;
}
:root {
  --color-primary: #4a3f35;
  --color-secondary: #d3bba3;

  --color-accent: #6b8e23;
  --color-background-light: #f9f9f9;
  --color-background-light-2: #eeeeee;
  --color-background-dark: #1a1a1a;
  --color-highlight: #caa021;
  --header-height: 75px;
  --header-expanded-height: calc(var(--header-height) +20px);
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  /* default line height  */
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bold-text {
  font-weight: bold !important;
}
.inline-block {
  display: inline-block;
}
.space-between {
  justify-content: space-between !important;
}

.justify-center {
  display: flex !important;
  justify-content: center !important;
}
.align-center {
  display: flex !important;
  align-items: center !important;
}
.text-center {
  text-align: center !important;
}
.primary-heading,
.secondary-heading {
  line-height: 1.1;
  color: var(--color-highlight);
  font-weight: 600;
}

.primary-heading {
  font-size: 3rem;
  padding: 20px 0;
}
.secondary-heading {
  font-size: 2rem;
  padding: 10px 0;
}
.quote-content {
  border-left: #333 4px solid;
  padding-left: 20px;
}
#skill,
#project {
  scroll-margin-top: var(--header-height);
}
#about {
  scroll-margin-top: 50vh;
}
.home,
.about,
.skill,
.project {
  padding: 50px 0;
}

#home {
  background-color: var(--first-background-color);
}

#about {
  background-color: var(--color-background-light);
}
#skill {
  background-color: var(--color-background-light-2);
}
#project {
  background-color: var(--color-background-light);
}

#footer {
  background-color: var(--color-secondary);
}
