:root {
  --color-primary: #292924;
  --color-primary-opaque: #292924eb;
  --color-secondary: #d3bba3;

  --color-secondary-hover: #f6dbbf;

  --color-background-light: #ffffff;
  --color-background-light-2: #f5f5f5;
  --color-background-light-3: #e5e4de;
  --color-background-dark: #1a1a1a;
  --color--text-navigation: #dbc7d0;
  --color-highlight-light: #1cbbbb;
  --color-highlight-dark: #008080;
  --header-height: 75px;
  --header-expanded-height: 0px;
  --side-bar-width: 250px;
}
