:root {
  --color-primary: #4a3f35;
  --color-primary-opaque: #008080b7;
  --color-secondary: #d3bba3;

  --color-accent: #6b8e23;
  --color-background-light: #f9f9f9;
  --color-background-light-2: #eeeeee;
  --color-background-dark: #1a1a1a;
  --color-highlight: #008080;
  --header-height: 75px;
  --header-expanded-height: 0px;
  --side-bar-width: 250px;
  --logo-height: 50px;
}
